

@font-face {
    font-family: 'Pixelify Sans'; /* 내가 부를 이름 */
    src: url('./fonts/PixelifySans-Regular.ttf') format('truetype'); /* 형제 파일 경로 */
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: 'Mulmaru';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2601-4@1.1/Mulmaru.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* 테두리와 패딩이 너비에 포함되도록 설정 */
}

body{
    margin: 0;
    overflow-x: hidden; /* 수평 스크롤바 제거 */
}

.Start {
    width: 100vw;
    height: 100vh;
    background: #0a0a0a;
}

.Start h1 {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Pretendard;
    font-size: 16vh;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    background: linear-gradient(91deg, #FFF 0.43%, #707070 99.62%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    left: 23%;
    top: 30%;
}

.Start p {
    color: #FFF;
    font-family: Pretendard;
    font-size: 4vh;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    left: 24%;
    top: 30%;
}

.Start div {
    width: 136px;
    height: 36px;
    border-radius: 10px;
    background: #1F1F1F;
    position: relative;
    left: 24%;
    top: 31%;
    filter: drop-shadow(5px 5px 5px #050505);
}

.Start div button {
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    color: #FFF;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.welcome {
    width: 100vw;
    height: 100vh;
    background: #0a0a0a;
}

.welcome h1 {
    width: 513px;
    height: 316px;
    color: #58E500;
    font-family: "Pixelify Sans";
    font-size: 16vh;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
    left: 35%;
    top: 0%;
    text-align: center;
}

.welcome p {
    width: 454px;
    height: 48px;
    color: #FFF;
    text-align: center;
    font-family: Mulmaru;
    font-size: 3vh;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
    left: 36.5%;
    top: 7%;
    text-align: center;
}

.about {
    width: 100vw;
    height: 100vh;
    background: #0a0a0a;
}

.about h2 {
    color: #e0e0e0;
    font-family: Mulmaru;
    font-size: 4vh;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
    left: 45%;
    top: 25%;
}

.about div {
    width: 50vw;
    height:40vh;
    border-radius: 10px;
    background: #201B38;
    position: relative;
    left: 25%;
    top: 27%; 
    z-index: 5;
    filter: drop-shadow(5px 5px 5px #1f1f1f);
}

.about div p {
    color: #FFF;
    font-family: Mulmaru;
    font-size: 3.2vh;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: absolute;
    margin: 3vh;
    margin-left: 3vw;
    filter: drop-shadow(5px 5px 5px #050505);

}

.about .img1 {
    width: 14vw;
    height: 14vw;
    aspect-ratio: 1/1;
    position: relative;
    left: 14%;
    top: -20%;
    transform: rotate(23deg);
    filter: drop-shadow(5px 5px 5px #050505);
    z-index: 1;
}

.about .img2 {
    width: 7vw;
    height: 7vw;
    aspect-ratio: 1/1;
    position: relative;
    left: 67%;
    top: -13%;
    transform: rotate(-33deg);
    filter: drop-shadow(5px 5px 5px #050505);
    z-index: 1;
}

.about .img3 {
    width: 9vw;
    height: 9vw;
    aspect-ratio: 1/1;
    position: relative;
    left: 50%;
    top: -30%;
    transform: rotate(-13deg);
    filter: drop-shadow(5px 5px 5px #050505);
    z-index: 6;
}

.about .img4 {
    width: 15vw;
    height: 15vw;
    aspect-ratio: 1/1;
    position: relative;
    left: -17%;
    top: 17%;
    transform: rotate(29deg);
    filter: drop-shadow(5px 5px 5px #050505);
    z-index: 6;
}

.about .img5 {
    width: 15vw;
    height: 15vw;
    aspect-ratio: 1/1;
    position: relative;
    left: 22%;
    top: 18%;
    transform: rotate(9deg);
    filter: drop-shadow(5px 5px 5px #050505);
    z-index: 6;
}

.skills {
    width: 100vw;
    height: 100vh;
    background: #0a0a0a;
}

.skills h2 {
    width: 10vh;
    height: 4vh;
    color: #FFF;
    font-family: Mulmaru;
    font-size: 4vh;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
    left: 46.5%;
    top: 10%;
}
.skills .img1-skills {
    width: 10vw;
    height: 10vw;
    aspect-ratio: 1/1;
    filter: drop-shadow(5px 5px 5px #050505);
    position: absolute;
    left: 44%;
    top: 336%;
    transform: translate(-50%, -50%) rotate(-21deg);
    z-index: 1;
}

.skills .img2-skills {
    width: 9vw;
    height: 9vw;
    aspect-ratio: 1/1;
    filter: drop-shadow(5px 5px 5px #050505);
    position: absolute;
    left: 50%;
    top: 333%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.skills .img3-skills {
    width: 10vw;
    height: 10vw;
    aspect-ratio: 1/1;
    filter: drop-shadow(5px 5px 5px #050505);
    position: absolute;
    left: 56%;
    top: 336%;
    transform: translate(-50%, -50%) rotate(21deg);
    z-index: 1;
}

.skills .skill-web {
    width: 75.1vw;
    height: 3.2vh;
    color: #FFF;
    font-family: Pretendard;
    font-size: 2.4vh;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    position: relative;
    left: 34%;
    top: 45%;
}

.skills .img4-skills {
    width: 10vw;
    height: 10vw;
    aspect-ratio: 1/1;
    filter: drop-shadow(5px 5px 5px #050505);
    position: absolute;
    left: 43%;
    top: 370%;
    transform: translate(-50%, -50%) rotate(-11deg);
    z-index: 1;
}

.skills .img5-skills {
    width: 13vw;
    height: 13vw;
    aspect-ratio: 1/1;
    filter: drop-shadow(5px 5px 5px #050505);
    position: absolute;
    left: 57%;
    top: 375%;
    transform: translate(-50%, -50%) rotate(11deg);
    z-index: 1;
}

.skills .skill-py-c {
    width: 75.1vw;
    height: 3.2vh;
    color: #FFF;
    font-family: Pretendard;
    font-size: 2.4vh;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    position: relative;
    left: 34%;
    top: 80%;
}

.hobbies {
    width: 100vw;
    height: 100vh;
    background: #0a0a0a;
}

.hobbies .img1-hobbies {
    width: 40vw;
    height: 22.4vw;
    aspect-ratio: 233/131;
    position: absolute;
    left: 35%;
    top: 420%;
    transform: translate(-50%, -50%) rotate(-8deg);
    filter: drop-shadow(5px 5px 5px #050505);
}

.hobbies .printer {
    width: 30vw;
    height: 15vw;
    border-radius: 20px;
    background: rgba(217, 217, 217, 0.20);
    position: relative;
    left: 55%;
    top: 4%;
    /* 2. 배경 흐림 효과 (핵심!) */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* 사파리 브라우저 호환성 */
    
    /* 3. 테두리로 입체감 주기 (선택사항) */
    border: 1px solid rgba(255, 255, 255, 0.3);
    
    /* 4. 그림자로 깊이감 표현 */
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.hobbies .printer p {
    width: 75.1vw;
    height: 3.2vh;
    color: #FFF;
    font-family: Mulmaru;
    font-size: 2.3vh;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 1.5vw;
    margin-top: 7vh;
}

.hobbies .telescope {
    width: 30vw;
    height: 15vw;
    border-radius: 20px;
    background: rgba(217, 217, 217, 0.20);
    position: relative;
    left: 18%;
    top: 20%;
    /* 2. 배경 흐림 효과 (핵심!) */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* 사파리 브라우저 호환성 */
    
    /* 3. 테두리로 입체감 주기 (선택사항) */
    border: 1px solid rgba(255, 255, 255, 0.3);
    
    /* 4. 그림자로 깊이감 표현 */
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.hobbies .telescope p {
    width: 75.1vw;
    height: 3.2vh;
    color: #FFF;
    font-family: Mulmaru;
    font-size: 2.3vh;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 1.5vw;
    margin-top: 7vh;
}

.hobbies .img2-hobbies {
    width: 30vw;
    height: 30vw;
    aspect-ratio: 233/131;
    position: absolute;
    left: 75%;
    top: 467%;
    transform: translate(-50%, -50%) rotate(-7deg);
    z-index: 1;
    filter: drop-shadow(5px 5px 5px #050505);
}

.hobbies svg {
    width: 100vw;
    height: 100vh;
    fill: #161721;
    position: absolute;
    left: 50%;
    top: 495%;
    transform: translate(-50%, -50%) rotate(0.7deg);
    z-index: 2;
}

.projects {
    width: 100vw;
    height: 160vh;
    background: #161721;
}

.projects h2 {
    width: 10vh;
    height: 4vh;
    color: #FFF;
    font-family: Mulmaru;
    font-size: 4vh;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
    left: 43.5%;
    top: 10%;
}

.card {
    width: 62.76vw;
    height: 48.98vh;
    position: relative;
    background: #1B1C22;
    box-shadow: 1.04vw 1.85vh 1.85vh rgba(0, 0, 0, 0.25);
    overflow: hidden;
    border-radius: 1.04vw;
    position: relative;
    left: 30%;
    top: 15%;
}

.card-image {
    width: 31.46vw;
    height: 40.56vh;
    left: 2.40vw;
    top: 4.26vh;
    position: absolute;
    border-radius: 1.04vw;
}

.box-large {
    width: 25.10vw;
    height: 31.76vh;
    left: 35.26vw;
    top: 5.09vh;
    position: absolute;
    background: rgba(217, 217, 217, 0.20);
    border-radius: 1.04vw;
}

.box-small {
    width: 25.10vw;
    height: 6.48vh;
    left: 35.26vw;
    top: 38.33vh;
    position: absolute;
    background: rgba(217, 217, 217, 0.20);
    border-radius: 2.60vw;
}

.title {
    left: 36.51vw;
    top: 6.02vh;
    position: absolute;
    color: white;
    font-size: 2.08vw;
    font-family: Mulmaru;
    font-weight: 500;
    word-wrap: break-word;
}

.link {
    left: 38.23vw;
    top: 39.81vh;
    position: absolute;
    color: #4E86FF;
    font-size: 1.25vw;
    font-family: Mulmaru;
    font-weight: 500;
    word-wrap: break-word;
}

.link a{
    color: #4E86FF;
}

.subtitle {
    left: 38.28vw;
    top: 11.39vh;
    position: absolute;
    color: white;
    font-size: 1.04vw;
    font-family: Mulmaru;
    font-weight: 500;
    word-wrap: break-word;
}

.description {
    left: 38.28vw;
    top: 17.69vh;
    position: absolute;
    color: white;
    font-size: 1.04vw;
    font-family: Mulmaru;
    font-weight: 500;
    word-wrap: break-word;
}

.card2 {
    width: 62.76vw;
    height: 48.98vh;
    position: relative;
    background: #1B1C22;
    box-shadow: 1.04vw 1.85vh 1.85vh rgba(0, 0, 0, 0.25);
    overflow: hidden;
    border-radius: 1.04vw;
    position: relative;
    left: 5%;
    top: 25%;
    }

.card2-image {
    width: 31.04vw;
    height: 40.56vh;
    left: 29.53vw;
    top: 4.26vh;
    position: absolute;
    border-radius: 1.04vw;
}

.box2-large {
    width: 25.10vw;
    height: 31.76vh;
    left: 2.66vw;
    top: 4.63vh;
    position: absolute;
    background: rgba(217, 217, 217, 0.20);
    border-radius: 1.04vw;
}

.box2-small {
    width: 25.10vw;
    height: 6.48vh;
    left: 2.66vw;
    top: 37.87vh;
    position: absolute;
    background: rgba(217, 217, 217, 0.20);
    border-radius: 2.60vw;
}

.card2-title {
    left: 3.91vw;
    top: 5.56vh;
    position: absolute;
    color: white;
    font-size: 2.08vw;
    font-family: Mulmaru;
    font-weight: 500;
    word-wrap: break-word;
}

.card2-link {
    left: 5.10vw;
    top: 39.35vh;
    position: absolute;
    color: #4E86FF;
    font-size: 1.25vw;
    font-family: Mulmaru;
    font-weight: 500;
    word-wrap: break-word;
}

.card2-link a{
    color: #4E86FF;
}

.card2-subtitle {
    left: 5.68vw;
    top: 11.94vh;
    position: absolute;
    color: white;
    font-size: 1.04vw;
    font-family: Mulmaru;
    font-weight: 500;
    word-wrap: break-word;
}

.card2-description {
    left: 5.68vw;
    top: 19.63vh;
    position: absolute;
    color: white;
    font-size: 1.04vw;
    font-family: Mulmaru;
    font-weight: 500;
    word-wrap: break-word;
}

.contact-text {
    color: rgb(221, 221, 221);
    font-size: 1.04vw;
    font-family: Mulmaru;
    font-weight: 500;
    word-wrap: break-word;
    position: relative;
    left: 15%;
    top: 31%;
}

.divider {
    width: 70%;
    height: 0.36vw;
    background: rgb(221, 221, 221);
    position: relative;
    left: 15%;
    top: 30%;
}